.skill-box {
  width: 70%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.skill-bar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  border: var(--icon-secondary) 2px solid;
  align-items: center;
  display: flex;
}

.skill-percentage {
  height: 50%;
  border-radius: 10px;
  margin-left: 2px;
  background: var(--icon-primary)
}

.skill-title {
  display: flex;
  width: 100%;
  color: white;
  padding-bottom: 5px;
  justify-content: space-between;
  align-items: center;
}

