:root {
  font-size: 16px;
  font-family: 'Poppins', Helvetica, sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary-light: #323333;
  --bg-primary:  #242525;
  --bg-secondary: #1B1C1C;
  --icon-primary: #00ff9d;
  --icon-secondary: #028a5c;
  --transition-speed: 600ms;
}

body {
  color: black;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.page {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  align-items: center;
  min-width: 1000px;
  width: 90%;
  height: 700px;
  background-color: var(--bg-primary-light);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
}

.section {
  min-width: 25%;
  height: 695px;
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-left: 2.5px var(--icon-primary) solid;
  border-top: 2.5px var(--icon-primary) solid;
  border-bottom: 2.5px var(--icon-primary) solid;
  background-color: var(--bg-secondary);
}

.section-text {
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.5px var(--icon-primary);
  align-self: center;
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform:rotate(0deg);
  transform: rotate(180deg);
  font-size: 9rem;
  writing-mode:tb-rl;
}


